.map-overlay {
    position: absolute;
    top: 10%;
    right: 1%;
    background: rgba(255, 255, 255, 0.4);
    margin-right: 10px;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
  }